.margin-top-negativa {
    margin-top: -70px;
}

.nav-altura {
    height: 70px; 
}

.background-img {
    background: url(../assets/images/header-bg.jpg);
    height: 80vh;
    background-position: center;

}

.padding-top-jumbotron {
    padding-top: 180px;
}

.border-radius-img {
    border-radius: 50%;
}

.width-img {
    width: 110px;
    height: 110px; 
}

.border-none {
    border: none;
}

/* para quando apertar no menu
sanduíche ter um fundo opaco */
.opacity-nav {
    opacity: 0.5;
}
